#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp C_AL_LOCK &kp ESC &kp LALT &kp W &kp TAB &kp A &kp S &kp D
            >;
        };
    };
};
